{% load otree static %}

<div class="instructions well well-lg">
    <h3>Instructions</h3>
    <p>The game is an expansion on the game Rock, Paper, Scissors. Each player picks a variable and reveals it at the
        same time. The winner is the one who defeats the others. The game will be played for three rounds. Winning a
        round will earn a player 1 points, whereas loosing will result in a 1 point loss. A draw gives 0 points to each
        player. The winner of the game is the player who earned the most points in the three rounds. The rules are as
        follows:</p>

    <p>Rock crushes Scissors and Rock crushes Lizard</p>

    <p>Scissors cuts Paper and Scissors decapitates Lizard</p>

    <p>Paper covers Rock and Paper disproves Spock</p>

    <p>Lizard poisons Spock and Lizard eats Paper</p>

    <p>Spock smashes Scissors and Spock vaporizes Rock</p>

     <img src="/static/my_rpsls/rules.jpg"/>

</div>